$gray1: #cecece;
$gray2: #a0a0a0;
$gray3: #52565f;
$gray4: #3b3e45;
$gray5: #2f3238;
$gray6: #292929;

$red: #a33b20;
$green: #43aa8b;

$black-coffee: #2e1f27;
$copper-rose: #a07178;
$nyanza: #e5f9e0ff;
$melon: #fab3a9ff;
$maximum-yellow-red: #e6be60ff;
